streamlit
langchain
langchain_community
faiss-cpu
google-generativeai
langchain_google_genai
PyPDF2
pypdf
langchain_text_splitters
nest_asyncio
rapidocr-onnxruntime
python-dotenv
rapidocr-onnxruntime
